@import "../fonts/_fonts.scss";
$logoFont: "besom_2regular";
$mainMenuFont: "open_sanssemibold";
$subMenuFont: "open_sansregular";
$headerTitleFont: "open_sansextrabold";
$headerContentFont: "open_sanssemibold";
$generalTitleFont: "open_sansextrabold";
$generalSubtitleFont: "open_sanssemibold";
$generalContentFont: "open_sansregular";
$listItemsFont: "open_sanssemibold";
$moreFont: "open_sanssemibold";
$buttonFont: "open_sansbold";
$statisticsFont: "open_sansextrabold";
$quoteSymbolFont: "ralewayextrabold";
$quoteContentFont: "open_sanslight";
$quoteSignatureFont: "open_sansbold";
$dateFont: "open_sansbold";
